canvas {
  display: block;
  margin: 0 auto;
  border: solid 1px black;
}

.container {
    display: block;
    margin: 0 auto;
    width: 30%;
}

#header_mask_height, #detail_mask_top {
    font-size: 3rem;
}
label {
    font-size: 2rem;
}
button {
    font-size: 2rem;
}
input {
    font-size: 1.2rem;
}
#save-button {
    background-color: orangered;
    padding: 1rem;
    color: white;
    border-radius: 3px;
}
#save-button:focus {
    outline: none;
}
#save-button:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}

#render-again {
    background-color: orangered;
    padding: 1rem;
    color: white;
    border-radius: 3px;
}
#render-again:focus {
    outline: none;
}
#render-again:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}